---
layout: default
---
<div class="post">
<article class="page">
  {% include header.html %}
  <div class ="col-two blog-cols">
    <div class="col col-aside blog-recent">
    <aside class="post-aside">
      <ul class="blog-title-list">
        {% for post in site.posts %}
        <li>
          <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
          <span>Posted: {{ post.date | date: "%-d %B %Y"}} by {{ post.postAuthor }}</span>
        </li>
        {% endfor %}
      </ul>
    </aside>
    </div>
  </div>
 
  <footer class="post-footer">
    {{ page.postFooter }}
  </footer>
</article>
</div>