/*
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;


Contents:
General
Navigation
About

*/

/* general styles*/
.h1 {
	font-family: 'Raleway', sans-serif;
}
.h2 {
  	font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}
/* navigation */
.nav-wrapper{	
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: #4a148c;
}
/*footer */
.col.s12.m6.cpyrgt {
	font-family: 'Raleway', sans-serif;
}
.social-foot {
    text-align: right;
}
.fa {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    background: #e1bee7;
    border-radius: 50%;
    height: 5vh;
    padding-top: 1vh;
    color: #4a148c ;
}
/* about */
.abt-container {
	margin-top: 4%;
}
.abt-photo {
    border-radius: 50%;
    margin-bottom: 2%;
    max-width: 100%;
}
.abt-rgt {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25rem;
    line-height: 1.5;
}
/* contact */
.contact-container {
	padding-bottom: 4%;
}
form {
    border-radius: 7px;
    border: 5px solid #aa00ff ;
    margin: 4% auto 0;
    padding: 2%;
}
div.input {
    border: 1px solid black;
}
.email-input {
	background: : orange;
}
.waves-effect.waves-light.btn {
    background: #4a148c;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0vh;
    /*padding: 11px 15px;*/
    text-transform: uppercase;
}

.waves-effect.waves-light.btn.btn-gallery {
    border-radius: 50%;
    float: right;
    font-family: 'raleway', sans-serif;
    height: 9vh;
    margin-right: 6%;
    margin-top: -30%;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2vh;
}
.col.s12.m4 {
    border: 5px solid purple;
}
img {
    border-radius: 47%;
    max-width: 98%;
}
@media only screen and (max-width: 765px) {
    .fa {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
        background: #e1bee7;
        border-radius: 50%;
        height: 6vh;
        padding-top: 1.5vh;
        color: #4a148c;
    }
    .col.s12.m6  {
        text-align: center;
    }

}